:root{
    --color-header:#2c3e50;
    --fuente-body: 'Arial',sans-serif;
    /* defecto */
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

/* header */

header{
    background-color: var(--color-header,blue);
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 15px;
}

header .logo img {
    height: 45px;
    vertical-align: middle;
}

header a.logo span{
    text-decoration: none;
    color: white;
    font-family: var(--fuente-body, 'Impact');
    vertical-align: middle;
    font-weight: bold;
}

.botonProyecto{
    text-decoration: none;
    color: white;
    font-family: var(--fuente-body, 'Impact');
    vertical-align: middle;
    padding: 15px;
    margin-right: 10px;
}
.botonContacto{
    text-decoration: none;
    color: white;
    font-family: var(--fuente-body, 'Impact');
    vertical-align: middle;
    padding: 15px;
    margin-right: 10px;
}
.botonServicio{
    text-decoration: none;
    color: white;
    font-family: var(--fuente-body, 'Impact');
    vertical-align: middle;
    padding: 15px;
    margin-right: 10px;
}


.botonProyecto:hover{
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    
}
.botonContacto:hover{
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    
}
.botonServicio:hover{
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}

/* main */

.titulo{
    background-color: black;
    color: hsl(0, 0%, 100%);
    
    text-align: center;
}
.titulo h1{
    font-family: 'Eagle Lake', cursive;
}



main .img-container img{
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 5;
    object-fit: cover;
}

main .img-container{
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main .img-container:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0,5);
}

main .img-container h3, p{
    font-family: var(--fuente-body, 'Impact');
    padding: 15px;
}

main .img-container p {
    color: grey;
}

main .img-container .img-link{
    position: relative;
}

main .img-container .img-link a{
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: white;
    font-family: var(--fuente-body, 'Impact');
    vertical-align: middle;
    padding: 15px;
    background-color: #007bff;
    border-radius: 5px;
    margin: 15px;
}
