/***********************************/
/********** Ejercicio 1.1 **********/
/***********************************/
.ej1 {
  flex-direction: column;
  align-items: end;
}

.ej1 :nth-child(1) {
}

.ej1 :nth-child(2) {
  order: 2;
  flex-grow: 1;
}

.ej1 :nth-child(3) {
  order: 1;
}

.ej1 :nth-child(4) {
}

/***********************************/
/********** Ejercicio 1.2 **********/
/***********************************/
.ej2 {
  justify-content: space-around;
}

.ej2 :nth-child(1) {
  align-self: center;
}

.ej2 :nth-child(2) {
  align-self: flex-start;
  flex-shrink: 0;
}

.ej2 :nth-child(3) {
  align-self: center;
}

/***********************************/
/********** Ejercicio 1.3 **********/
/***********************************/
.ej3 {
  align-content: space-between;
  flex-wrap: wrap;
}

.ej3 :nth-child(1) {
  flex-grow: 1;
}

.ej3 :nth-child(2) {
}

.ej3 :nth-child(3) {
  flex-grow: 1;
}

.ej3 :nth-child(4) {
}

/***********************************/
/********** Ejercicio 1.4 **********/
/***********************************/
.ej4 {
  justify-content: end;
}

.ej4 :nth-child(1) {
  align-self: flex-end;
  flex-shrink: 0;
}

.ej4 :nth-child(2) {
  align-self: flex-start;
}

.ej4 :nth-child(3) {
}

/***********************************/
/********** Ejercicio 1.5 **********/
/***********************************/
.ej5 {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.ej5 :nth-child(1) {
}

.ej5 :nth-child(2) {
  flex-basis: 100%;
  flex-grow: 1;
}

.ej5 :nth-child(3) {
}

.ej5 :nth-child(4) {
}

.ej5 :nth-child(5) {
}

/***********************************/
/********** Ejercicio 1.6 **********/
/***********************************/
.ej6 {
  flex-direction: column-reverse;
}

.ej6 :nth-child(1) {
}

.ej6 :nth-child(2) {
  flex-grow: 1;
}

.ej6 :nth-child(3) {
}
