body {
  margin: 0;
}
.cajaprincipal {
  width: 100%;
  background-color: bisque;
  margin-bottom: 20px;
}
.container {
  display: flex;
}
.container {
  display: flex;
  margin-bottom: 50px;
}
.container div {
  border: solid 1px black;
  padding: 30px;
}
