/***********************************/
/********** Ejercicio 1.1 **********/
/***********************************/
.ej1 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: end;
}

.ej1 :nth-child(1) {
  flex-basis: 0;
  flex-grow: 1;
}

.ej1 :nth-child(2) {
  flex-basis: 0;
  flex-grow: 1;
}

.ej1 :nth-child(3) {
  flex-basis: 0;
  flex-grow: 3;
}

/***********************************/
/********** Ejercicio 1.2 **********/
/***********************************/
.ej2 {
  display: flex;
  justify-content: space-evenly;
}

.ej2 :nth-child(1) {
  align-self: center;
}

.ej2 :nth-child(2) {
  align-self: start;
}

.ej2 :nth-child(3) {
  align-self: flex-end;
}

/***********************************/
/********** Ejercicio 1.3 **********/
/***********************************/
.ej3 {
  display: flex;
}

.ej3 :nth-child(1) {
  order: 2;
  align-self: flex-start;
  flex-basis: 0;
  flex-grow: 1;
}

.ej3 :nth-child(2) {
  flex-basis: auto;
  flex-grow: 4;
  flex-shrink: 0;
}

.ej3 :nth-child(3) {
  align-self: flex-start;
  flex-basis: 0;
  flex-grow: 1;
}

/***********************************/
/********** Ejercicio 1.4 **********/
/***********************************/
.ej4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ej4 :nth-child(1) {
  flex-basis: 0;
  flex-grow: 1;
  align-self: flex-start;
}

.ej4 :nth-child(2) {
  flex-basis: 0;
  flex-grow: 1;
  align-self: center;
}

.ej4 :nth-child(3) {
  flex-basis: 0;
  flex-grow: 1;
  align-self: flex-end;
}

.ej4 :nth-child(4) {
  flex-basis: 0;
  flex-grow: 1;
  align-self: flex-start;
}

.ej4 :nth-child(5) {
  flex-basis: 0;
  flex-grow: 2;
}

/***********************************/
/********** Ejercicio 1.5 **********/
/***********************************/
.ej5 {
  display: flex;
}

.ej5 :nth-child(1) {
  flex-basis: 0;
  flex-grow: 1;
}

.ej5 :nth-child(2) {
  flex-basis: 0;
  flex-grow: 1;
}

.ej5 :nth-child(3) {
  flex-basis: 0;
  flex-grow: 1;
}

/***********************************/
/********** Ejercicio 1.6 **********/
/***********************************/
.ej6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ej6 :nth-child(1) {
  flex-basis: auto;
  flex-grow: 1;
  align-content: flex-start;
}

.ej6 :nth-child(2) {
  flex-basis: auto;
  flex-grow: 2;
  align-content: flex-start;
}

.ej6 :nth-child(3) {
  flex-basis: auto;
  flex-grow: 1;
  align-content: flex-start;
}
